# vim: set syntax=yaml:

version: "3.6"

services:
  catalogueapi:
    image: "opertusmundi/catalogueapi:${VERSION}"
    build:
      context: .
      #dockerfile: development.dockerfile
      args:
        VERSION: ${VERSION}
    volumes:
    - type: 'bind'
      source: './logs'
      target: '/var/local/catalogueapi/logs'
    - type: 'bind'
      source: './data/secret_key'
      target: '/var/local/catalogueapi/secret_key'
      read_only: true
    environment:
      SERVER_NAME: ${SERVER_NAME}
      SQLALCHEMY_DATABASE_URI: ${DATABASE_URL}
      SQLALCHEMY_TRACK_MODIFICATIONS: "False"
      ERROR_404_HELP: "False"
      RESTX_MASK_SWAGGER: "False"
      RESTX_VALIDATE: "True"
      SWAGGER_UI_DOC_EXPANSION: list
      FLASK_ENV: ${FLASK_ENV}
      FLASK_DEBUG: ${FLASK_DEBUG}
      LOGGING_ROOT_LEVEL: "INFO"
    networks:
    - opertusmundi_network
    ports:
      - 5000:5000

networks:
  opertusmundi_network: {external: true}
